Repository player-geun/nufit, pull requests merged in 2023-10, with the labels that each got.

#64 [feat] 화면 간 네비게이션 관계를 구현한다.
  .idea/.gitignore
  .idea/dbnavigator.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/nufit.iml
  .idea/vcs.xml
  backend/src/main/java/com/fit/nufit/BackendApplication.java
  frontend/nufit/App.js
  frontend/nufit/MainScreen.js
  frontend/nufit/navigations/AuthStack.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/navigations/MainTab.js
  frontend/nufit/navigations/index.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/Temp.js
  frontend/nufit/screens/index.js
Labels: frontend, feature

#66 [chore] 디자인에 맞게 css코드를 작성한다.
  frontend/nufit/assets/active.png
  frontend/nufit/assets/active2.png
  frontend/nufit/assets/active3.png
  frontend/nufit/assets/character_inactive.png
  frontend/nufit/assets/character_inactive2.png
  frontend/nufit/assets/character_inactive3.png
  frontend/nufit/components/NutBox.js
  frontend/nufit/components/NutDetail.js
  frontend/nufit/screens/CaloriesResult.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/SetGoal.js
Labels: frontend, ui

#68 [feat] 카메라 촬영 기능을 추가한다
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/CameraScreen.js
  frontend/nufit/screens/ChooseSearch.js
  frontend/nufit/screens/index.js
Labels: frontend, feature, ui

#70 [feat] 홈 스크린, 날짜별 섭취 영양소 조회 화면을 구현한다.
  .expo/README.md
  .expo/settings.json
  frontend/nufit/assets/character.png
  frontend/nufit/components/Carousel.js
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/TopBarTemp.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/Home.js
Labels: frontend, feature

#74 [style] 검색 선택 페이지에 css를 적용한다.
  frontend/nufit/%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
  frontend/nufit/assets/right_arrow_ico.png
  frontend/nufit/assets/search.png
  frontend/nufit/assets/take_photo_ico.png
  frontend/nufit/screens/ChooseSearch.js
  frontend/nufit/screens/Search.js
Labels: frontend, ui

#75 [feat] 홈 스크린에 디자인을 적용한다.
  frontend/nufit/components/Carousel.js
  frontend/nufit/components/CarouselPage.js
Labels: frontend, ui

#77 [feat] 마이페이지를 생성한다.
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/SearchDetail.js
Labels: frontend, feature, ui

#88 [feat] 칼로리 섭취 통계 차트를 구현한다.
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/components/TopBar.js
  frontend/nufit/components/TopBarTemp.js
  frontend/nufit/navigations/MainTab.js
  frontend/nufit/screens/NutrientBarChart.js
  frontend/nufit/screens/StaticPie.js
  frontend/nufit/screens/StatisticsRecord.js
  frontend/nufit/screens/Temp.js
  frontend/nufit/screens/index.js
Labels: frontend, feature

#89 [feat] 음식 등록 화면을 구현한다.
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  frontend/nufit/components/SaveFood.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/screens/NutrientBarChart.js
  frontend/nufit/screens/RegisterFoodName.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/RegisterFoodQuantity.js
Labels: frontend, feature

#90 [design] 음식 등록 화면에 디자인을 적용한다.
  frontend/nufit/components/SaveFood.js
  frontend/nufit/screens/RegisterFoodName.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/RegisterFoodQuantity.js
  frontend/nufit/screens/index.js
Labels: frontend, ui

#91 [feat] 로그인 화면을 구현한다.
  frontend/nufit/assets/image_logo.png
  frontend/nufit/assets/kakaotalk_logo.png
  frontend/nufit/assets/text_logo.png
  frontend/nufit/components/LoginButton.js
  frontend/nufit/navigations/AuthStack.js
  frontend/nufit/screens/LoginScreen.js
Labels: frontend, feature

#94 [feat] 유튜브 api를 연결한다.
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/StatisticsRecord.js
  frontend/nufit/screens/Temp.js
Labels: frontend, feature, ui
