Repository player-geun/nufit, pull requests merged in 2023-11, with the labels that each got.

#95 [feat] api 연결 및 디자인을 수정한다.
  frontend/nufit/%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
  frontend/nufit/assets/graph-focused.png
  frontend/nufit/assets/graph.png
  frontend/nufit/assets/home-focused.png
  frontend/nufit/assets/home.png
  frontend/nufit/assets/live-focused.png
  frontend/nufit/assets/live.png
  frontend/nufit/assets/my-focused.png
  frontend/nufit/assets/my.png
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/components/TopBar.js
  frontend/nufit/components/TopBarTemp.js
  frontend/nufit/navigations/MainTab.js
  frontend/nufit/screens/CameraScreen.js
  frontend/nufit/screens/NutrientBarChart.js
  frontend/nufit/screens/RegisterFoodName.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/RegisterFoodQuantity.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/StaticPie.js
Labels: frontend, feature, chore, ui

#97 [feat]식사 상세 페이지를 추가한다
  frontend/nufit/app.json
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/navigations/AuthStack.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/navigations/index.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/StaticPie.js
  frontend/nufit/screens/index.js
Labels: frontend, feature, ui

#100 [feat]api를 연결한다.
  frontend/nufit/components/Carousel.js
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/components/TopBar.js
  frontend/nufit/components/TopBarTemp.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/navigations/MainTab.js
  frontend/nufit/screens/CaloriesResult.js
  frontend/nufit/screens/CameraScreen.js
  frontend/nufit/screens/ChooseSearch.js
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/SetGoal.js
Labels: frontend, feature, chore, bug, ui

#102 [feat] api 연결 및 새로운 페이지를 추가한다
  frontend/nufit/assets/bg.png
  frontend/nufit/assets/logo.png
  frontend/nufit/assets/shop-focused.png
  frontend/nufit/assets/shop.png
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/navigations/MainTab.js
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/Shop.js
  frontend/nufit/screens/StaticPie.js
  frontend/nufit/screens/Temp.js
  frontend/nufit/screens/index.js
Labels: frontend, feature, ui

#103 [refactor] api 연결을 수정한다.
  frontend/nufit/%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
  frontend/nufit/app.json
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/ProgressBar.js
  frontend/nufit/components/ProgressCircle.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/screens/CameraScreen.js
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/Shop.js
  frontend/nufit/screens/StaticPie.js
Labels: frontend, feature, refactor, bug

#105 [feat] 소셜 로그인 관련 로직을 구현한다.
  frontend/nufit/app.json
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/navigations/AuthStack.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/navigations/index.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/RegisterFoodName.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/RegisterFoodQuantity.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/SetGoal.js
  frontend/nufit/screens/SplashScreen.js
  frontend/nufit/screens/StaticPie.js
  frontend/nufit/screens/index.js
  frontend/nufit/utils/tokenUtils.js
Labels: frontend, feature

#109 [feat] api 연결 작업 및 수정을 한다.
  frontend/nufit/App.js
  frontend/nufit/app.json
  frontend/nufit/assets/image_logo.png
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/NutBox.js
  frontend/nufit/components/ProgressBar.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/components/TopBar.js
  frontend/nufit/components/TopBarTemp.js
  frontend/nufit/context/DateContext.js
  frontend/nufit/navigations/MainStack.js
  frontend/nufit/navigations/index.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/ChooseSearch.js
  frontend/nufit/screens/Home.js
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MealDetail.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutrientBarChart.js
  frontend/nufit/screens/RegisterFoodName.js
  frontend/nufit/screens/RegisterFoodNutrition.js
  frontend/nufit/screens/RegisterFoodQuantity.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/Shop.js
  frontend/nufit/screens/StaticPie.js
  frontend/nufit/screens/Temp.js
  frontend/nufit/utils/tokenUtils.js
Labels: frontend, feature, chore

#111 [refactor] 소셜 로그인 관련 로직을 수정한다.
  frontend/nufit/components/CarouselPage.js
  frontend/nufit/components/StackedBarChart.js
  frontend/nufit/navigations/AuthStack.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/Temp.js
  frontend/nufit/utils/tokenUtils.js
Labels: frontend

#113 [feat] 식단 추천 기능을 구현한다.
  frontend/nufit/%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
  frontend/nufit/assets/back_button_ico_black.png
  frontend/nufit/assets/mark.png
  frontend/nufit/components/TopBar.js
  frontend/nufit/screens/LoginScreen.js
  frontend/nufit/screens/MyPage.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/SearchDetail.js
  frontend/nufit/screens/StaticPie.js
Labels: frontend, feature, ui
