Repository player-geun/nufit, pull requests merged in 2023-05, with the labels that each got.

#4 [feat] 식사 기본 CRUD를 구현한다.
  backend/build.gradle
  backend/src/main/java/com/fit/nufit/common/BaseEntity.java
  backend/src/main/java/com/fit/nufit/meal/application/MealService.java
  backend/src/main/java/com/fit/nufit/meal/domain/Meal.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealRepository.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealType.java
  backend/src/main/java/com/fit/nufit/meal/dto/MealResponse.java
  backend/src/main/java/com/fit/nufit/meal/exception/NoSuchMealException.java
  backend/src/main/java/com/fit/nufit/meal/presentation/MealController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/com/fit/nufit/meal/application/MealServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealTypeTest.java
Labels: backend, feature

#9 [feat] github action을 통한 CI 기능을 추가한다.
  .github/workflows/backend-ci.yml
Labels: backend, devops

#10 [feat] 음식 기본 CRD를 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodType.java
  backend/src/main/java/com/fit/nufit/food/dto/FoodResponse.java
  backend/src/main/java/com/fit/nufit/food/exception/NoSuchFoodException.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTypeTest.java
Labels: backend, feature, test

#11 [feat] 영양소와 음식영양소의 CRD 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrient.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodType.java
  backend/src/main/java/com/fit/nufit/nutrient/application/NutrientService.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/Nutrient.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/NutrientRepository.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/NutrientUnit.java
  backend/src/main/java/com/fit/nufit/nutrient/dto/NutrientResponse.java
  backend/src/main/java/com/fit/nufit/nutrient/exception/AlreadyExistsChildNutrientException.java
  backend/src/main/java/com/fit/nufit/nutrient/exception/NoSuchNutrientException.java
  backend/src/main/java/com/fit/nufit/nutrient/presentation/NutrientController.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTypeTest.java
  backend/src/test/java/com/fit/nufit/nutrient/application/NutrientServiceTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTypeTest.java
Labels: backend, feature, test

#14 [feat] mealId 를 통해 먹었던 음식들을 조회하는 기능
  backend/src/main/java/com/fit/nufit/food/dto/FoodSimpleResponse.java
  backend/src/main/java/com/fit/nufit/global/config/JpaConfig.java
  backend/src/main/java/com/fit/nufit/meal/application/MealDetailService.java
  backend/src/main/java/com/fit/nufit/meal/domain/Meal.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealDetailRepository.java
  backend/src/main/java/com/fit/nufit/meal/dto/request/MealDetailCreateRequest.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailsResponse.java
  backend/src/main/java/com/fit/nufit/meal/presentation/MealController.java
  backend/src/main/java/com/fit/nufit/meal/presentation/MealDetailController.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTest.java
Labels: backend, feature, refactor

#17 [refactor] 한정자를 뒤쪽에 두는 것으로 통일
  backend/src/main/java/com/fit/nufit/meal/domain/MealDetail.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailResponse.java
Labels: backend, refactor

#19 [refactor] 음식의 양방향 관계를 제거하고 음식 영양소의 Repository를 생성한다
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrient.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrientRepository.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodType.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/dto/response/FoodResponse.java
  backend/src/main/java/com/fit/nufit/food/dto/response/FoodSimpleResponse.java
  backend/src/main/java/com/fit/nufit/food/exception/NoSuchFoodException.java
  backend/src/main/java/com/fit/nufit/meal/application/MealDetailService.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealType.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailsResponse.java
  backend/src/main/java/com/fit/nufit/nutrient/application/NutrientService.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/Nutrient.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/NutrientRepository.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/NutrientUnit.java
  backend/src/main/java/com/fit/nufit/nutrient/dto/response/NutrientResponse.java
  backend/src/main/java/com/fit/nufit/nutrient/exception/AlreadyExistsChildNutrientException.java
  backend/src/main/java/com/fit/nufit/nutrient/exception/AlreadyExistsNutrientException.java
  backend/src/main/java/com/fit/nufit/nutrient/exception/NoSuchNutrientException.java
  backend/src/main/java/com/fit/nufit/nutrient/presentation/NutrientController.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTypeTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealDetailTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealTypeTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
  backend/src/test/java/com/fit/nufit/nutrient/application/NutrientServiceTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTypeTest.java
Labels: backend, refactor

#25 [feat] 새로운 식사를 등록하는 기능
  backend/src/main/java/com/fit/nufit/food/dto/response/FoodSimpleResponse.java
  backend/src/main/java/com/fit/nufit/meal/application/MealService.java
  backend/src/main/java/com/fit/nufit/meal/domain/Meal.java
  backend/src/main/java/com/fit/nufit/meal/dto/request/MealCreateRequest.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailsResponse.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealResponse.java
  backend/src/main/java/com/fit/nufit/meal/presentation/MealController.java
  backend/src/main/java/com/fit/nufit/member/domain/Member.java
  backend/src/main/java/com/fit/nufit/member/domain/MemberRepository.java
  backend/src/main/java/com/fit/nufit/member/exception/NoSuchMemberException.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealDetailTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
Labels: backend, feature

#27 [feat] 식사의 음식을 삭제하는 기능
  backend/src/main/java/com/fit/nufit/meal/presentation/MealController.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
Labels: backend, feature

#28 feat : 음식의 상세 영양소를 조회하는 기능
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrient.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrientRepository.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodUnit.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/dto/response/NutrientDetailResponse.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/main/java/com/fit/nufit/meal/application/MealDetailService.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealDetail.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailResponse.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/Nutrient.java
  backend/src/main/java/com/fit/nufit/nutrient/dto/response/NutrientResponse.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodTest.java
  backend/src/test/java/com/fit/nufit/food/domain/FoodUnitTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealDetailTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientTest.java
  backend/src/test/java/com/fit/nufit/nutrient/domain/NutrientUnitTest.java
Labels: backend, feature

#30 [feat] 식단상세를 생성하는 API를 구현한다.
  backend/src/main/java/com/fit/nufit/food/dto/response/FoodSimpleResponse.java
  backend/src/main/java/com/fit/nufit/meal/application/MealDetailService.java
  backend/src/main/java/com/fit/nufit/meal/domain/MealDetail.java
  backend/src/main/java/com/fit/nufit/meal/dto/request/MealDetailCreateRequest.java
  backend/src/main/java/com/fit/nufit/meal/dto/response/MealDetailResponse.java
  backend/src/main/java/com/fit/nufit/meal/presentation/MealController.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealDetailTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
Labels: backend, feature

#32 [feat] 목표 설정 페이지를 구현한다.
  frontend/nufit/.gitignore
  frontend/nufit/App.js
  frontend/nufit/app.json
  frontend/nufit/assets/adaptive-icon.png
  frontend/nufit/assets/favicon.png
  frontend/nufit/assets/icon.png
  frontend/nufit/assets/splash.png
  frontend/nufit/babel.config.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/screens/CaloriesResult.js
  frontend/nufit/screens/NutResult.js
  frontend/nufit/screens/SetGoal.js
Labels: frontend, feature

#34 [feat] 새로운 음식을 등록하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodNutrientCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/dto/response/FoodResponse.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#40 [feat] 등록한 음식을 삭제하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodNutrientRepository.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/main/java/com/fit/nufit/nutrient/domain/Nutrient.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#43 [feat] 등록한 음식의 영양소를 수정하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodNutrientService.java
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodNutrientUpdateRequest.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodNutrientServiceTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#44 [feat] 등록한 음식을 조회하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/Food.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/dto/request/FoodCreateRequest.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/food/application/FoodNutrientServiceTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#48 [feat] 검색 단어를 기준으로 자동완성 검색어를 조회하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#49 [feat] 검색한 내용과 관련된 음식을 조회하는 기능을 구현한다.
  backend/src/main/java/com/fit/nufit/food/application/FoodService.java
  backend/src/main/java/com/fit/nufit/food/domain/FoodRepository.java
  backend/src/main/java/com/fit/nufit/food/presentation/FoodController.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
Labels: backend, feature

#50 [feat] Kakao 소셜 로그인 기능을 구현한다.
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/fit/nufit/auth/application/AuthService.java
  backend/src/main/java/com/fit/nufit/auth/domain/KakaoUser.java
  backend/src/main/java/com/fit/nufit/global/config/WebConfig.java
  backend/src/main/java/com/fit/nufit/global/config/WebSecurityConfig.java
  backend/src/main/java/com/fit/nufit/member/domain/Member.java
  backend/src/main/java/com/fit/nufit/member/domain/MemberRepository.java
  backend/src/main/java/com/fit/nufit/member/domain/Role.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/fit/nufit/food/application/FoodNutrientServiceTest.java
  backend/src/test/java/com/fit/nufit/food/application/FoodServiceTest.java
  backend/src/test/java/com/fit/nufit/food/presentation/FoodControllerTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealDetailTest.java
  backend/src/test/java/com/fit/nufit/meal/domain/MealTest.java
  backend/src/test/java/com/fit/nufit/meal/presentation/MealControllerTest.java
Labels: backend, feature

#57 [feat] 섭취량 원그래프 통계를 구현한다.
  frontend/nufit/App.js
  frontend/nufit/assets/add_by_search_ico.png
  frontend/nufit/assets/blank_data_ico.png
  frontend/nufit/assets/fonts/Pretendard-Black.otf
  frontend/nufit/assets/fonts/Pretendard-Bold.otf
  frontend/nufit/assets/fonts/Pretendard-ExtraBold.otf
  frontend/nufit/assets/fonts/Pretendard-ExtraLight.otf
  frontend/nufit/assets/fonts/Pretendard-Light.otf
  frontend/nufit/assets/fonts/Pretendard-Medium.otf
  frontend/nufit/assets/fonts/Pretendard-Regular.otf
  frontend/nufit/assets/fonts/Pretendard-SemiBold.otf
  frontend/nufit/assets/fonts/Pretendard-Thin.otf
  frontend/nufit/components/ProgressBar.js
  frontend/nufit/components/ProgressCircle.js
  frontend/nufit/components/SaveFood.js
  frontend/nufit/components/TopBar.js
  frontend/nufit/package-lock.json
  frontend/nufit/package.json
  frontend/nufit/react-native.config.js
  frontend/nufit/screens/Search.js
  frontend/nufit/screens/StaticPie.js
Labels: frontend, feature, ui

#59 [feat] 나의 목표 섭취량을 위한 추가 회원 정보를 수정/조회하는 API를 구현한다.
  backend/src/main/java/com/fit/nufit/auth/application/AuthService.java
  backend/src/main/java/com/fit/nufit/meal/application/MealDetailService.java
  backend/src/main/java/com/fit/nufit/meal/dto/request/MealDetailCreateRequest.java
  backend/src/main/java/com/fit/nufit/member/domain/ActivityAmount.java
  backend/src/main/java/com/fit/nufit/member/domain/Member.java
  backend/src/main/java/com/fit/nufit/member/domain/MemberRepository.java
  backend/src/main/java/com/fit/nufit/member/domain/Sex.java
  backend/src/main/java/com/fit/nufit/member/dto/request/MemberDetailRequest.java
  backend/src/main/java/com/fit/nufit/member/dto/response/MemberDetailResponse.java
  backend/src/main/java/com/fit/nufit/member/presentation/MemberController.java
  backend/src/main/java/com/fit/nufit/member/service/MemberService.java
  backend/src/test/java/com/fit/nufit/common/ControllerTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealDetailServiceTest.java
  backend/src/test/java/com/fit/nufit/meal/application/MealServiceTest.java
  backend/src/test/java/com/fit/nufit/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/fit/nufit/member/service/MemberServiceTest.java
Labels: backend, feature
